@use '../Config' as *;

// config fonts
@include import-webfonts;

body,
input,
select,
textarea {
    @include font-family('cormorant');

    color: color(dark);
    // font-size 32px. Everything else calculated from that
    font-size: size('text');
    line-height: size(line-height);

    @include below('large') {
        font-size: size('text-large');
    }

    @include below('medium') {
        font-size: size('text-medium');
    }

    @include below('small') {
        font-size: size('text-small');
    }

    @include below('xsmall') {
        font-size: size('text-xsmall');
    }
}

a {
    color: color(aterrima);
    text-decoration: none;
    &:hover {
        transition: time('fast') ease-out;
        border-bottom: color(lilac) solid 3px;
        color: color(dark-blue);
    }
}
button {
    a {
        &:hover {
            border-bottom: 0;
        }
    }
}

strong,
b {
    color: color(aterrima);
    @include font-family('MA Sexy');
}

em,
i {
    font-style: italic;
}

p {
    margin: 0 0 size(mg-small) 0;
    &::first-letter {
        @include font-family('MA Sexy');
    }

    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: color(aterrima);
    font-weight: size(weight-heading);
    letter-spacing: size(letter-spacing-important);
    margin: 0 0 size(mg-small) 0;
    a {
        color: inherit;
        text-decoration: none;
        border-bottom: 0;
    }
}

h1 {
    &::first-letter {
        @include font-family('MA Sexy');
    }
    font-size: size(h1);
    color: color(earth);
    // corrects font going out of bounds
    margin: size(mg-xsmall) 0 size(mg-small) 0;
}
h2 {
    &::first-letter {
        @include font-family('MA Sexy');
    }
    font-size: size(h2);
}
h3 {
    font-size: size(h3);
}
h4 {
    font-size: size(h4);
}
h5 {
    font-size: size(h5);
}
h6 {
    font-size: size(h6);
}

.paragraph {
    span {
        font-weight: size(weight-light);
    }
}
span {
    font-weight: size(weight-heading);
}

hr {
    &.standard {
        width: 100%;
        height: 1px;
        border: 0;
        border-bottom: solid 1px color(earth);
        margin: 0 0 size(mg-large) 0;
    }
    &.fancy {
        // background: url('../../images/svg/blue-frangipani.svg');
    }
}

.btn {
    display: flex;
    align-items: center;
    border: none;
    overflow: hidden;
    outline: none;
    box-shadow: none;
    padding: 0 size(pad-small);
    border-radius: size(radius);
    letter-spacing: size(letter-spacing-fancy);
    margin: size(mg-xsmall);
    color: color(background);
    &:hover {
        transition: time(medium) ease-in-out;
        transform: scale(1.01);
    }
    &.primary {
        background: radial-gradient(
                68.84% 68.84% at 50% 50%,
                color(lilac) 0%,
                rgba(255, 255, 255, 0) 70.83%
            ),
            color(lilac);
        a {
            color: color(background);
        }
    }
    //

    &.secondary {
        background: radial-gradient(
                68.84% 68.84% at 50% 50%,
                color(primary-blue) 0%,
                rgba(255, 255, 255, 0) 70.83%
            ),
            color(primary-blue);
        a {
            color: color(background);
        }
    }
    &.tertiary {
        background: radial-gradient(
                68.84% 68.84% at 50% 50%,
                color(earth) 0%,
                rgba(255, 255, 255, 0) 70.83%
            ),
            color(earth);
        color: color(primary-blue);
        a {
            color: color(primary-blue);
        }
    }
}

.center {
    text-align: center;
    &:not(p) {
        margin: 0 auto;
    }
}

.circle {
    border-radius: 10000px;
}
// sub {
//     font-size: 0.8em;
//     position: relative;
//     top: 0.5em;
// }

// sup {
//     font-size: 0.8em;
//     position: relative;
//     top: -0.5em;
// }

// blockquote {
//     border-left: solid 4px _palette(border);
//     font-style: italic;
//     margin: 0 0 _size(margin, lg) 0;
//     padding: (_size(margin, lg) / 4) 0 (_size(margin, lg) / 4) _size(margin, lg);
// }

// code {
//     background: _palette(border-bg);
//     border-radius: _size(border-radius);
//     border: solid 2px _palette(border);
//     font-family: _font(family-fixed);
//     font-size: 0.9em;
//     margin: 0 0.25em;
//     padding: 0.25em 0.65em;
// }

// pre {
//     -webkit-overflow-scrolling: touch;
//     font-family: _font(family-fixed);
//     font-size: 0.9em;
//     margin: 0 0 _size(margin, lg) 0;

//     code {
//         display: block;
//         line-height: 1.75em;
//         padding: 1em 1.5em;
//         overflow-x: auto;
//     }
// }
