@use '../Config/' as *;

.site-footer {
    display: grid;
    grid-template-columns:
        [full-start] minmax(size(mg-large), (size(mg-large) * 2))
        [footer-start] minmax(0, 60em) [footer-end]
        minmax(size(mg-large), (size(mg-large) * 2)) [full-end];

    @include below(small) {
        grid-template-columns:
            [full-start] 4%
            [footer-start] 92% [footer-end]
            4% [full-end];
    }

    place-items: center;
    text-align: center;
    .content {
        grid-column: footer;
        .footer-nav {
            margin: 0 0 size(mg-small) 0;
            .footer-navbar {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
        .info {
            > * {
                margin: 0 0 size(mg-xsmall) 0;
            }
        }
    }
}
