@use '../Config/' as *;

.site-footer {
    // position: fixed;
    // bottom: 0;
    // width: 100vw;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // text-align: center;

    .content {
        .footer-nav {
            .footer-navbar {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
    }
}
