@use '../Config/' as *;

.site-header {
    background: color(med-blue);
    display: grid;
    grid-template-columns:
        [full-start] minmax(size(mg-med), size(mg-large))
        [main-start] minmax(0, 60em) [main-end]
        minmax(size(mg-med), size(mg-large)) [full-end];

    &:not(.at-top) {
        position: sticky;
        top: 0;
        z-index: 1000000000;
    }
    &.home-page.at-top {
        visibility: hidden;
    }
    .nav-tabs {
        grid-column: main;
        .tab-list {
            height: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .tab-list-item {
                &::first-letter {
                    @include font-family('MA Sexy');
                }
                .navbar-panel {
                    position: absolute;
                    left: 0;
                    top: 0;
                    visibility: hidden;
                }
                &.active {
                    .navbar-panel {
                        visibility: visible;
                        background: color(light-blue);
                        top: 100px;
                        z-index: 1000;
                        width: 100vw;
                        padding: size(pad-med) 0;
                        padding: size(pad-med) 0;
                        display: grid;
                        grid-auto-flow: column;
                        grid-template-columns:
                            [full-start] minmax(size(mg-med), size(mg-large))
                            [submenu] minmax(
                                size(mg-large) * 1.5,
                                size(mg-large) * 2.5
                            )
                            [space] minmax(size(mg-med), size(mg-large))
                            [copy-start] minmax(0, 60em)
                            minmax(size(mg-med), size(mg-large)) [full-end];

                        .submenu {
                            grid-column: submenu;
                            display: flex;
                            flex-flow: column nowrap;
                            padding-right: size(pad-small);
                            border-right: 1px solid black;
                        }
                        .copy {
                            grid-column: copy-start;
                        }
                    }
                }
            }
        }
    }
}
