@use '../Config/' as *;

.site-main {
    display: grid;
    grid-template-columns:
        [full-start] minmax(size(mg-med), size(mg-large))
        [main-start] minmax(0, 60em) [main-end]
        minmax(size(mg-med), size(mg-large)) [full-end];
    & > * {
        grid-column: main;
    }
}
