@use '../../../../node_modules/accoutrement/sass/tools' as *;

$colors: (
    '_brand-primary': #7bd0f7,
    '_bg': #fff,
    '_black': #000,
    '_lilac': #eeb5eb,
    '_brown': #664838,
    // white
    'background': '#_bg',
    'background-accent': '#_bg'
        (
            'shade': 10%,
        ),
    // blue
    'light-blue': '#_brand-primary'
        (
            'tint': 80%,
        ),
    'med-blue': '#_brand-primary'
        (
            'tint': 60%,
        ),
    'primary-blue': '#_brand-primary',
    'dark-blue': '#_brand-primary'
        (
            'shade': 10%,
        ),
    // purple
    'lilac': '#_lilac',
    'lilac-darkened': '#_lilac'
        (
            'shade': 20%,
        ),
    'lilac-lightened': '#_lilac'
        (
            'tint': 20%,
        ),
    // black
    'aterrima': '#_black',
    'dark': '#_black'
        (
            tint: 10%,
        ),
    // brown
    'coffee': '#_brown',
);

$sizes: (
    '_full': 60em,
    '_base': (
        '7th': 4em,
        '5th': 3em,
        '3rd': 2em,
        'root': 1em,
    ),
    'fullWidth': '#_full',
    // grid columns
    'col-xlarge':
        (
            '%value': '#_base->7th',
            'times': 4,
            'convert-units': 'em',
        ),
    'col-large': (
        '%value': '#_base->7th',
        'times': 3,
        'convert-units': 'em',
    ),
    'col-medium': (
        '%value': '#_base->7th',
        'times': 2,
        'convert-units': 'em',
    ),
    'col-small': '#_base->7th',
    // margin
    'mg-xxlarge': '#_base->7th',
    'mg-xlarge': (
        '%value': '#_base->5th',
        'times': 1.5,
        'convert-units': 'em',
    ),
    'mg-large': '#_base->5th',
    'mg-medium': '#_base->3rd',
    'mg-small': '#_base->root',
    'mg-xsmall': (
        '%value': '#_base->root',
        'times': 0.5,
        'convert-units': 'em',
    ),
    // padding
    'pad-large': '#_base->5th',
    'pad-medium': '#_base->3rd',
    'pad-small': '#_base->root',
    'pad-xsmall': (
        '%value': '#_base->root',
        'times': 0.5,
        'convert-units': 'em',
    ),
    // text
    // xlarge screen-size
    'text': '#_base->3rd',
    'text-large': (
        '%value': '#_base->3rd',
        'minus': 0.3,
        'convert-units': 'em',
    ),
    'text-medium': (
        '%value': '#_base->3rd',
        'minus': 0.6,
        'convert-units': 'em',
    ),
    'text-small': (
        '%value': '#_base->3rd',
        'minus': 0.8,
        'convert-units': 'em',
    ),
    'text-xsmall': (
        '%value': '#_base->3rd',
        'minus': 1,
        'convert-units': 'em',
    ),
    'info': (
        '%value': '#_base->root',
        'minus': 0.4,
        'convert-units': 'em',
    ),
    // headers
    'h1':
        (
            '%value': '#_base->root',
            'plus': 0.6,
            'convert-units': 'em',
        ),
    'h2': (
        '%value': '#_base->root',
        'plus': 0.4,
        'convert-units': 'em',
    ),
    'h3': (
        '%value': '#_base->root',
        'plus': 0.2,
        'convert-units': 'em',
    ),
    'h4': (
        '%value': '#_base->root',
        'plus': 0.1,
        'convert-units': 'em',
    ),
    'h5': (
        '%value': '#_base->root',
        'minus': 0.1,
        'convert-units': 'em',
    ),
    'h6': (
        '%value': '#_base->root',
        'minus': 0.2,
        'convert-units': 'em',
    ),
    // misc.
    'line-height': 1.3,
    'radius': 0.3em,
    'letter-spacing-fancy': 0.2em,
    'letter-spacing-important': 0.1em,
    // font weight
    'weight-heading': 600,
    'weight-light': 500,
    // adding breakpoints here
    // (redundant but necessary to fetch them
    // inside JS files.
    'breakpoint-xlarge': 120rem,
    // 1920px
    'breakpoint-large': 75rem,
    // 1200px
    'breakpoint-medium': 63.75rem,
    // 1020px
    'breakpoint-small': 48rem,
    // 768px
    'breakpoint-xsmall': 30rem,
    // 480px
);

// $breakpoints: () !default;
// TODO: To deprecate when using styled components, only use the size vars that add a css var.
$breakpoints: (
    'xlarge': 120rem,
    'large': 75rem,
    'medium': 63.75rem,
    'small': 48rem,
    'xsmall': 30rem,
);

// $times: () !default;
$times: (
    'fast': 0.2s,
    'medium': 0.5s,
    'slow': 1s,
);

:root {
    @include colors--;
    @include sizes--;
    @include times--;
}
